# Dependencies
node_modules/
dist/
.nx/cache
.nx/workspace-data
.nx/installation

# IDEs and OS
.vscode/
.DS_Store
.env
.env.development
.env.production
.env.local
.angular

__screenshots__/

/generated/prisma
.env.example
